/* AppointmentConfirmation.css */

.confirmation-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
}

.confirmation-form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.confirmation-form h2 {
    margin-bottom: 20px;
    text-align: center;
}

.form-section {
    margin-bottom: 10px;
}

.form-section label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.form-section p {
    margin: 0;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #0081A7;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #005F7F;
}
