.manage-availability-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .calendar-container {
    flex: 1;
    margin-right: 20px;
  }
  
  .details-container {
    flex: 2;
  }
  
  .time-slots-container {
    margin-top: 20px;
  }
  
  .time-slots-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
  
  .time-slot-button {
    padding: 10px;
    border: none;
    color: white;
    cursor: pointer;
    text-align: center;
  }
  
  .time-slot-button.available {
    background-color: green;
  }
  
  .time-slot-button.unavailable {
    background-color: red;
  }
  
  /* Custom styles for react-calendar */
  .react-calendar {
    background-color: #333; /* Dark background */
    color: #fff; /* Light text */
    border: 1px solid #444; /* Border color */
    border-radius: 4px;
    padding: 10px;
  }
  
  .react-calendar__month-view__weekdays {
    color: #ddd; /* Light text for weekdays */
  }
  
  .react-calendar__month-view__days__day {
    color: #fff; /* Light text for days */
  }
  
  .react-calendar__tile--active {
    background: #007bff; /* Blue background for active day */
    color: white;
  }
  
  .react-calendar__tile--now {
    border: 1px solid #007bff; /* Blue border for today's date */
  }
  
  .react-calendar__tile {
    border-radius: 4px;
  }
  
  .react-calendar__tile:hover {
    background: #555; /* Slightly lighter background on hover */
  }
  
  /* Custom style for available dates */
  .available-date {
    background-color: #28a745 !important; /* Green background for available dates */
    color: white !important; /* White text for better contrast */
  }
  